# 第三章

In [2]:
round(1.23 , 1), round(1.27, 1), round(-1.27, 1), round(1.2345, 3)

(1.2, 1.3, -1.3, 1.234)

In [5]:
#当一个值刚好在两个边界的中间时候，round函数返回离他最近的偶数，也就是说，对1.5或2.5的
#舍入运算都会得到2
#ndigits可以是负数，这种情况下，舍入运算会作用在十位、百位、千位等上面，比如：
a = 1627731
round(a, -1), round(a, -2), round(a, -3)

(1627730, 1627700, 1628000)

In [6]:
#不要将格式化和舍入搞混淆
x = 1.23456
format(x, '0.2f'), format(x, '0.3f'),'value is {:0.3f}'.format(x)

('1.23', '1.235', 'value is 1.235')

In [7]:
a = 2.1
b = 4.2
c = a + b # ?
c, round(c, 2)

(6.300000000000001, 6.3)

In [8]:
(a+b) ==6.3

False

In [10]:
from decimal import Decimal

a = Decimal('4.2')
b = Decimal('2.1')
a+b

Decimal('6.3')

In [11]:
print(a+b)

6.3

In [12]:
(a+b) == Decimal('6.3')

True

In [13]:
from decimal import localcontext

a = Decimal('1.3')
b = Decimal('1.7')
print(a/b)

0.7647058823529411764705882353

In [14]:
with localcontext() as ctx:
    ctx.prec = 3
    print(a/b)

0.765

In [15]:
nums = [1.23e+18, 1, -1.23e+18]
sum(nums)

0.0

In [16]:
import math

math.fsum(nums)

1.0

In [17]:
#decima模块主要用在金融领域
#用python和数据库打交道的时候也通常会用到Decimal对象

In [19]:
#3.3数字的格式化输出

In [20]:
x = 1234.56789
format(x, '0.2f')

'1234.57'

In [21]:
format(x, '>10.1f')

'    1234.6'

In [23]:
format(x, '<10.1f')

'1234.6    '

In [24]:
format(x, '^10.1f')

'  1234.6  '

In [25]:
format(x, ',')

'1,234.56789'

In [26]:
format(x, '0,.1f')

'1,234.6'

In [27]:
#如果你想使用指数记法，将f改成e或者E，比如

In [28]:
format(x, 'e')

'1.234568e+03'

In [29]:
format(x, '0.2E')

'1.23E+03'

In [30]:
'The Value is {:0,.2f}'.format(x) # ： ？

'The Value is 1,234.57'

In [31]:
#数字格式化同样适用于浮点数和decimal模块中Decimal对象
x = 1234.56789
format(x, '0.1f')

'1234.6'

In [32]:
format(-x, '0.1f')

'-1234.6'

In [34]:
swap_separators = { ord('.'):',', ord(','):'.'} # ?
format(x, ',').translate(swap_separators)

'1.234,56789'

In [36]:
#二八十六进制整数
x = 1234
bin(x)

'0b10011010010'

In [37]:
oct(x)

'0o2322'

In [38]:
hex(x)

'0x4d2'

In [42]:
#去掉前缀
format(x, 'b')

'10011010010'

In [40]:
format(x, 'o')

'2322'

In [41]:
format(x, 'x')

'4d2'

In [43]:
#整数是有符号的，所以在处理负数的话，输出结果会包含一个符号
x = -1234
format(x, 'b')

'-10011010010'

In [44]:
format(x, 'x')

'-4d2'

In [47]:
#如果你想产生一个无符号值，你需要增加一个指示最大为长度的值
#比如为了显示32位的值
x = -1234
format(2**32 + x ,'b')

'11111111111111111111101100101110'

In [46]:
format(2**32 + x, 'x')

'fffffb2e'

In [48]:
#为了以不同的进制转换整数字符串，简单的使用带有进制的int函数即可
int('4d2', 16)

1234

In [49]:
int('10011010010', 2)

1234

In [50]:
data= b'\x00\x124V\x00x\x90\xab\x00\xcd\xef\x01\x00#\x004'

In [53]:
len(data)

16

In [54]:
#一个拥有128位长的16个元素的字节字符串
#为了将bytes解析为整数，使用int.from_bytes()方法
int.from_bytes(data, "little")

69120565665751139577663547927094891008

In [55]:
int.from_bytes(data, 'big')

94522842520747284487117727783387188

In [56]:
#为了将一个大整数转换为一个字节字符串，使用int.to_bytes()方法
#字节顺序规则little或者big仅仅指定了构建了整数时的字节的低位高位排列放肆
x = 99349249324824732894729847234234
x.to_bytes(16, 'big')

b'\x00\x00\x04\xe5\xf6\xbc\xe9\xc6\xf3S\xecP\xdb\xac\xde\xba'

In [57]:
x.to_bytes(16, 'little')

b'\xba\xde\xac\xdbP\xecS\xf3\xc6\xe9\xbc\xf6\xe5\x04\x00\x00'

In [58]:
#...........

3.6 复数的数学运算

3.7 无穷大与NaN

In [59]:
a = float('inf')
b = float('-inf')
c = float('nan')
a, b, c

(inf, -inf, nan)

In [60]:
#为了测试这些值的存在，使用math.isinf()   math.isnan()函数
math.isinf(a), math.isnan(c)

(True, True)

In [61]:
a = float('inf')
a + 45

inf

In [62]:
a * 10

inf

In [63]:
10 / a

0.0

In [65]:
#有些操作时未定义的并会返回一个NaN结果
a = float('inf')
a / a

nan

In [66]:
b = float('-inf')

In [67]:
a+b

nan

In [68]:
#NaN值会在所有操作中传播，而不会产生异常
c = float('nan')
c + 23

nan

In [69]:
c / 2

nan

In [70]:
c * 2

nan

In [71]:
math.sqrt(c)

nan

In [72]:
#NaN值一个特别的地方是它们之间的比较操作总是返回False
c = float('nan')
d = float('nan')
c == d

False

In [73]:
c is d

False

In [74]:
#如果想改变默认行为，在返回无穷大或NaN结果的操作中跑出异常
#fpectl模块可以用来改变这种行为

In [2]:
from fractions import Fraction

a = Fraction(5, 4)
b = Fraction(7,16)

print(a+b)
print(a*b)

27/16
35/64

In [3]:
# Getting numerator/denminotor
c = a * b
c.numerator

35

In [4]:
c.denominator

64

In [5]:
float(c)

0.546875

In [6]:
print(c.limit_denominator(8))

4/7

In [9]:
x = 3.75
y = Fraction(*x.as_integer_ratio())
y

Fraction(15, 4)

In [8]:
y

Fraction(15, 4)

In [11]:
#3.9大型数组运算
#你需要在数据集上面执行运算
#解决方案：标准列表和np数组对象之间的差别

In [12]:
x = list('1234')
y = list('5678')

x * 2

['1', '2', '3', '4', '1', '2', '3', '4']

In [13]:
x + y

['1', '2', '3', '4', '5', '6', '7', '8']

In [15]:
import numpy as np

ax = np.array([1,2,3,4])
ay = np.array([5,6,7,8])

ax * 2, ax +10, ax + ay, ax * ay

(array([2, 4, 6, 8]),
 array([11, 12, 13, 14]),
 array([ 6,  8, 10, 12]),
 array([ 5, 12, 21, 32]))

In [16]:
def f(x):
    return 3*x**2 - 2*x + 7
f(ax)

array([ 8, 15, 28, 47])

In [17]:
np.sqrt(ax)

array([1.        , 1.41421356, 1.73205081, 2.        ])

In [18]:
np.cos(ax)

array([ 0.54030231, -0.41614684, -0.9899925 , -0.65364362])

In [21]:
grid = np.zeros(shape=(10000,10000), dtype=float)
grid,grid.shape

(array([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]]), (10000, 10000))

In [22]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
a

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [23]:
a[1]

array([5, 6, 7, 8])

In [24]:
a[:, 1]

array([ 2,  6, 10])

In [25]:
a[1:3, 1:3]

array([[ 6,  7],
       [10, 11]])

In [26]:
a[1:3, 1:3] += 10

In [27]:
a

array([[ 1,  2,  3,  4],
       [ 5, 16, 17,  8],
       [ 9, 20, 21, 12]])

In [28]:
a + [100, 101, 102, 103]

array([[101, 103, 105, 107],
       [105, 117, 119, 111],
       [109, 121, 123, 115]])

In [29]:
a

array([[ 1,  2,  3,  4],
       [ 5, 16, 17,  8],
       [ 9, 20, 21, 12]])

In [30]:
np.where(a < 10, a, 10)

array([[ 1,  2,  3,  4],
       [ 5, 10, 10,  8],
       [ 9, 10, 10, 10]])

In [31]:
#3.10 矩阵与线性代数运算
#问题：你需要执行矩阵和线性代数运算，比如矩阵乘法，寻找行列式，求解线性方程组
#解决方法：np库中有一个矩阵对象可以解决这个问题

In [32]:
m = np.matrix([[1,-2,3], [0, 4, 5], [7, 8, -9]])
m

matrix([[ 1, -2,  3],
        [ 0,  4,  5],
        [ 7,  8, -9]])

In [33]:
m.T

matrix([[ 1,  0,  7],
        [-2,  4,  8],
        [ 3,  5, -9]])

In [34]:
m.I

matrix([[ 0.33043478, -0.02608696,  0.09565217],
        [-0.15217391,  0.13043478,  0.02173913],
        [ 0.12173913,  0.09565217, -0.0173913 ]])

In [36]:
v = np.matrix([[2], [3], [4]])
v

matrix([[2],
        [3],
        [4]])

In [39]:
m

matrix([[ 1, -2,  3],
        [ 0,  4,  5],
        [ 7,  8, -9]])

In [38]:
m * v

matrix([[ 8],
        [32],
        [ 2]])

In [40]:
import numpy.linalg

In [41]:
numpy.linalg.det(m)

-229.99999999999983

In [42]:
numpy.linalg.eigvals(m)

array([-13.11474312,   2.75956154,   6.35518158])

In [43]:
numpy.linalg.eigh(m)

(array([-15.31637064,   2.09597618,   9.22039447]),
 matrix([[ 0.36847813, -0.82838135,  0.42191019],
         [ 0.3557146 ,  0.5449429 ,  0.75927884],
         [-0.85888939, -0.12969803,  0.49546688]]))

In [44]:
numpy.linalg.eig(m)

(array([-13.11474312,   2.75956154,   6.35518158]),
 matrix([[ 0.2368169 , -0.83437342,  0.09866106],
         [ 0.27244696,  0.53498201, -0.90024871],
         [-0.93257193, -0.13272245, -0.42404983]]))

In [46]:
x = numpy.linalg.solve(m, v)
x

matrix([[0.96521739],
        [0.17391304],
        [0.46086957]])

In [47]:
m * x

matrix([[2.],
        [3.],
        [4.]])

In [48]:
v

matrix([[2],
        [3],
        [4]])

In [49]:
#3.11 随机选择
#问题：你想从一个序列随机抽取若干元素，或者想生成几个随机数
#解决方法：random模块有大量的函数用来产生随机数和随机选择元素
#比如，要想从一个序列中随机的抽取一个元素，可以使用random.choice()

In [53]:
import random

values = list('123456')

i = 0
while i<7:
    n = random.choice(values)
    print(n)
    i += 1

2
3
1
4
1
1
4

In [55]:
i = 0
while i<7:
    n = random.sample(values, 1)
    print(n)
    i += 1

['4']
['5']
['1']
['2']
['6']
['1']
['2']

In [57]:
#提取N个不同元素的样本用来做进一步的操作
random.sample(values, 2), random.sample(values,2)

(['5', '1'], ['1', '4'])

In [60]:
random.sample(values, 3), random.sample(values, 3)

(['6', '4', '5'], ['6', '2', '3'])

In [61]:
#如果仅仅是想打乱序列中的元素顺序
random.shuffle(values)
values

['6', '2', '4', '5', '3', '1']

In [64]:
random.shuffle(values)
values

['3', '2', '5', '4', '6', '1']

In [67]:
#生成随机整数，请使用random.randint()
random.randint(0, 10), random.randint(0, 10)

(0, 5)

In [68]:
random.randint(0, 10), random.randint(0, 10)

(8, 10)

In [70]:
random.randint(0, 10), random.randint(0, 10)

(2, 10)

In [73]:
#为了生成0到1范围内均匀分布的浮点数，使用random.random()
random.random()

0.9725329567882441

In [110]:
#如果想要获得N位随机位（二进制）的整数，使用random.getrandbits()
random.getrandbits(50)

157049359907182

In [111]:
#random模块使用Mersenne Twister算法来计算生成随机数，这是一个确定性算法
#但是你可以通过random.seed函数修改初始化种子，比如

In [112]:
random.seed(12345) # Seed based on integer given

In [114]:
random.seed(b'bytedata') # Seed based on byte data

In [115]:
random.seed() # Seed based on system or os.urandom()

In [116]:
#random模块还包含基于均匀分布，高斯分布和其他分布的随机数生成函数
#random.uniform计算均匀分布随机数
#random.gauss()计算正态分布随机数

In [117]:
#3.12 基本的日期与时间转换
#问题：你需要执行简单的时间转换，比如天到秒，小时到分钟等的转换
#解决方案：执行不同时间单位和转换和计算，datetime
#比如，为了表示一个时间段，可以创建一个timedelta实例

In [118]:
from datetime import timedelta

a = timedelta(days=2, hours=6)
b = timedelta(hours=4.5)

c = a + b

In [119]:
c.days

2

In [120]:
c.seconds

37800

In [121]:
c.seconds / 3600

10.5

In [122]:
c.total_seconds() / 3600

58.5

In [123]:
#如果你想表示指定的日期和时间，先创建一个datetime实例，然后
#使用标准的数学运算来操作
from datetime import datetime

a = datetime(2012, 9 ,23)
print(a + timedelta(days=10))

2012-10-03 00:00:00

In [126]:
b = datetime(2012,8,23,13,13,13)

In [127]:
b.hour, b.minute, b.second

(13, 13, 13)

In [128]:
d = b - a

In [129]:
d.days

-31

In [131]:
now = datetime.today()

In [132]:
print(now)

2019-07-23 10:31:20.479151

In [133]:
now.hour, now.minute, now.second

(10, 31, 20)

In [134]:
print(now + timedelta(minutes=10))

2019-07-23 10:41:20.479151

In [137]:
# datetime会自动处理闰年
a = datetime(2012, 3, 1)
b = datetime(2012, 2, 28)
a - b

datetime.timedelta(2)

In [138]:
(a - b).days

2

In [141]:
#对于大多数基本的日期和时间处理器，datetime就足够了
#如果执行更加复杂的日期操作，比如处理时区，模糊时间范围，节假日等，使用dateutil
#许多类似的时间计算可以使用dateutil.relativedelta函数代替
#注意，它在会处理月份的时候填充间隙，还有他们的天数差距

a = datetime(2012, 9, 23)
a + timedelta(months=1)

TypeError: 'months' is an invalid keyword argument for this function

In [142]:
from dateutil.relativedelta import relativedelta

a + relativedelta(months=+1)

datetime.datetime(2012, 10, 23, 0, 0)

In [143]:
a

datetime.datetime(2012, 9, 23, 0, 0)

In [145]:
a + relativedelta(months=+4) # =+ ?

datetime.datetime(2013, 1, 23, 0, 0)

In [146]:
b = datetime(2012, 12, 21)

In [147]:
d = b - a

In [148]:
d

datetime.timedelta(89)

In [150]:
d.days #？

89

In [151]:
d = relativedelta(b, a)

In [152]:
d

relativedelta(months=+2, days=+28)

In [153]:
d.months, d.days

(2, 28)

In [154]:
#3.13 计算最后一个周五的日期
#问题：你需要查找星期中某一天最后出现的日期，比如，星期五
#解决方案：datetime

In [155]:
#!/usr/bin/env python
# -*- encoding:utf-8 -*-
"""
Topic:最后的周五
Desc:
"""
from datetime import datetime, timedelta

weekdays = [
    'Monday', 'Tuesday', 'Wednesday', 'Thursday', 
    'Friday', 'Saturday', 'Sunday'
]

def get_previous_byday(dayname, start_date=None):
    """
    先将开始日期和目标日期映射到星期数组的位置上，星期一的索引为0，
    然后通过模运算计算出目标日期要经过多少天才能达到开始日期，
    然后用开始日期减去那个时间差得到结果日期
    """
    
    if start_date is None:
        start_date = datetime.today()
        
    day_num = start_date.weekday() # return int 
    day_num_target = weekdays.index(dayname) # return int
    days_ago = (7 + day_num - day_num_target) % 7
    if days_ago == 0:
        days_ago = 7
    target_date = start_date - timedelta(days=days_ago)
    return target_date

In [170]:
ll = datetime.today()
ll.weekday(), 5%7, 7%7, 6%7

(1, 5, 0, 6)

In [164]:
weekdays.index('1') # ?

ValueError: '1' is not in list

In [165]:
datetime.today()

datetime.datetime(2019, 7, 23, 11, 16, 37, 205096)

In [166]:
get_previous_byday('Monday')

datetime.datetime(2019, 7, 22, 11, 16, 50, 271157)

In [167]:
get_previous_byday('Tuesday')

datetime.datetime(2019, 7, 16, 11, 17, 24, 212402)

In [168]:
get_previous_byday('Friday')

datetime.datetime(2019, 7, 19, 11, 17, 45, 98555)

In [171]:
get_previous_byday('Sunday', datetime(2012,12,21))

datetime.datetime(2012, 12, 16, 0, 0)

In [172]:
#如果你要这样执行大量的日期计算的话，最好安装第三方包python dateutil来代替
#下面使用使用dateutil模块中的relativedelta函数执行同样的计算

In [174]:
from datetime import datetime
from dateutil.relativedelta import relativedelta
from dateutil.rrule import *

d = datetime.now()
print(d)
print(d + relativedelta(weekday=FR)) # FR?
print(d + relativedelta(weekday=FR(-1))) #

2019-07-23 11:35:59.352636
2019-07-26 11:35:59.352636
2019-07-19 11:35:59.352636

In [175]:
#3.14 计算当前月份的日期范围
#问题：你的代码需要在当前月份中循环每一天，想找到一个计算这个日期范围的高效方法
#在这样的日期上循环并需要实现构造一个包含所有日期的列表，你可以先计算出开始日期和结束日期
#然后再你步进的时候使用datetime.datetime对象递增这个日期变量即可

#下面是接受任意datetime对象并返回一个由当前月份开始日和下个月开始日组成的元组对象

In [176]:
from datetime import datetime, date, timedelta

import calendar

def get_month_range(start_date=None):
    if start_date is None:
        start_date = date.today().replace(day=1) # 将day替换成1
        #找出该月的总天数，包含星期和该月天数的元组
    _, days_in_month = calendar.monthrange(start_date.year, start_date.month)
    #一旦该月的天数已知了，那么结束日期就可以通过在开始日期上面加上这个天数获得
    #但注意，不包含结尾
    end_date = start_date + timedelta(days=days_in_month)
    return (start_date, end_date)

In [177]:
a_day = timedelta(days=1)
first_day, last_day = get_month_range()
while first_day < last_day:
    print(first_day)
    first_day += a_day

2019-07-01
2019-07-02
2019-07-03
2019-07-04
2019-07-05
2019-07-06
2019-07-07
2019-07-08
2019-07-09
2019-07-10
2019-07-11
2019-07-12
2019-07-13
2019-07-14
2019-07-15
2019-07-16
2019-07-17
2019-07-18
2019-07-19
2019-07-20
2019-07-21
2019-07-22
2019-07-23
2019-07-24
2019-07-25
2019-07-26
2019-07-27
2019-07-28
2019-07-29
2019-07-30
2019-07-31

In [180]:
date.today().replace(day=1)

datetime.date(2019, 7, 1)

In [183]:
ls, ld = calendar.monthrange(date.today().year, date.today().month)

In [184]:
ls,ld

(0, 31)

In [188]:
def date_range(start, stop, step):
    while start < stop:
        yield start
        start += step

In [189]:
for d in date_range(datetime(2012, 9, 1), datetime(2012,10,1), timedelta(hours=6)):
    print(d)

2012-09-01 00:00:00
2012-09-01 06:00:00
2012-09-01 12:00:00
2012-09-01 18:00:00
2012-09-02 00:00:00
2012-09-02 06:00:00
2012-09-02 12:00:00
2012-09-02 18:00:00
2012-09-03 00:00:00
2012-09-03 06:00:00
2012-09-03 12:00:00
2012-09-03 18:00:00
2012-09-04 00:00:00
2012-09-04 06:00:00
2012-09-04 12:00:00
2012-09-04 18:00:00
2012-09-05 00:00:00
2012-09-05 06:00:00
2012-09-05 12:00:00
2012-09-05 18:00:00
2012-09-06 00:00:00
2012-09-06 06:00:00
2012-09-06 12:00:00
2012-09-06 18:00:00
2012-09-07 00:00:00
2012-09-07 06:00:00
2012-09-07 12:00:00
2012-09-07 18:00:00
2012-09-08 00:00:00
2012-09-08 06:00:00
2012-09-08 12:00:00
2012-09-08 18:00:00
2012-09-09 00:00:00
2012-09-09 06:00:00
2012-09-09 12:00:00
2012-09-09 18:00:00
2012-09-10 00:00:00
2012-09-10 06:00:00
2012-09-10 12:00:00
2012-09-10 18:00:00
2012-09-11 00:00:00
2012-09-11 06:00:00
2012-09-11 12:00:00
2012-09-11 18:00:00
2012-09-12 00:00:00
2012-09-12 06:00:00
2012-09-12 12:00:00
2012-09-12 18:00:00
2012-09-13 00:00:00
2012-09-13 06:00:00
2012-09-13 12:00:00
2012-09-13 18:00:00
2012-09-14 00:00:00
2012-09-14 06:00:00
2012-09-14 12:00:00
2012-09-14 18:00:00
2012-09-15 00:00:00
2012-09-15 06:00:00
2012-09-15 12:00:00
2012-09-15 18:00:00
2012-09-16 00:00:00
2012-09-16 06:00:00
2012-09-16 12:00:00
2012-09-16 18:00:00
2012-09-17 00:00:00
2012-09-17 06:00:00
2012-09-17 12:00:00
2012-09-17 18:00:00
2012-09-18 00:00:00
2012-09-18 06:00:00
2012-09-18 12:00:00
2012-09-18 18:00:00
2012-09-19 00:00:00
2012-09-19 06:00:00
2012-09-19 12:00:00
2012-09-19 18:00:00
2012-09-20 00:00:00
2012-09-20 06:00:00
2012-09-20 12:00:00
2012-09-20 18:00:00
2012-09-21 00:00:00
2012-09-21 06:00:00
2012-09-21 12:00:00
2012-09-21 18:00:00
2012-09-22 00:00:00
2012-09-22 06:00:00
2012-09-22 12:00:00
2012-09-22 18:00:00
2012-09-23 00:00:00
2012-09-23 06:00:00
2012-09-23 12:00:00
2012-09-23 18:00:00
2012-09-24 00:00:00
2012-09-24 06:00:00
2012-09-24 12:00:00
2012-09-24 18:00:00
2012-09-25 00:00:00
2012-09-25 06:00:00
2012-09-25 12:00:00
2012-09-25 18:00:00
2012-09-26 00:00:00
2012-09-26 06:00:00
2012-09-26 12:00:00
2012-09-26 18:00:00
2012-09-27 00:00:00
2012-09-27 06:00:00
2012-09-27 12:00:00
2012-09-27 18:00:00
2012-09-28 00:00:00
2012-09-28 06:00:00
2012-09-28 12:00:00
2012-09-28 18:00:00
2012-09-29 00:00:00
2012-09-29 06:00:00
2012-09-29 12:00:00
2012-09-29 18:00:00
2012-09-30 00:00:00
2012-09-30 06:00:00
2012-09-30 12:00:00
2012-09-30 18:00:00

In [190]:
#3.15 字符串转为日期
#问题：你的应用程序接受字符串格式的输入，但是你想将他们转换为datetime对象，以便在上面执行非字符串操作
#解决方案：datetime模块

In [192]:
from datetime import datetime

text = '2012-09-20'
y = datetime.strptime(text, '%Y-%m-%d')
z = datetime.now()
diff = z - y
diff

datetime.timedelta(2497, 43317, 352703)

In [193]:
z

datetime.datetime(2019, 7, 23, 12, 1, 57, 352703)

In [194]:
# strptime的性能比想象中的差很多，它必须处理所有的系统本地设置
# 如果你想要在代码中需要解析大量的日期并且已经知道了日期字符串的确切格式
#可以自己实现一套解析方案来获取更好的性能
nice_z = datetime.strftime(z, '%A %B %d, %Y')
nice_z

'Tuesday July 23, 2019'

In [196]:
#现在你已经知道日期格式是YYYY-MM-DD,你可以像下面这样实现一个解析函数
#实际测试中，这个函数比datetime strptime快7倍多，如果处理大量的涉及的日期数据的话，考虑这个方案
from datetime import datetime
def parse_ymd(s):
    year_s, mon_s, day_s = s.split('-')
    return datetime(int(year_s), int(mon_s), int(day_s))

In [197]:
#3.16结合时区的日期操作
#.......

In [ ]:
2019.7.23